        body {
            background-color: white;
            color: #212121;
            font-family: neue-haas-grotesk-display, sans-serif;
            font-style: normal;
            font-weight: 700;           
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
        }

        .header {
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            height: 10%; 
            border-bottom: 1px solid #9b9999;
            padding-bottom: 10px;
        }

        #exoplus-container {
            display: inline-block;
            position: relative;
        }

        #exoplus {
            font-size: 4vw;
            color: black;
            padding: 10px;
            text-decoration: none; /* Remove default underline */
        }

        .language {
            font-size: 15px;
            color: black;
            padding: 10px;
            padding-right: 20px;
        }

        .menu-container {
            display: flex;
            flex: 1;
        }

        .menu {
            display: flex;
            flex-direction: column;
            width: 250px;
            background-color: white;
            color: black;
            padding: 20px;
        }

        .main-content {
            display: flex;
            flex: 1;
            background-color: white;
            color: black;
            padding: 20px;
        }

        .contact-form {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300; 
            width: 90%;     

        }

        /* Set a default width for the resizable input elements */
        #name,
        #email,
        #phone {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;  
            min-width: 300px;
            width: 100%;             
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        /* Make the textarea scrollable and non-resizable */
        #message {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;
            width: 100%; 
            min-width: 300px;       
            height: 100px; /* Set a fixed height */
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 10px;
            resize: none;
            overflow-y: scroll; /* Enable vertical scrolling */
        }

        label[for="attachments"]{
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;
            color:black;
            font-size: 14px;
        }

        #attachments {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;
            font-size: 14px;
        }

        .file-item {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding: 4px;
        }

        .close-button {
            margin-left: 10px;
            cursor: pointer;
        }

        #drop-area {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;
            border: 1px dashed black;
            padding: 16px;
            text-align: center;
            cursor: pointer;
        }

        #drop-area.drag-over {
            border-color: #007bff; /* Highlight the drop area when dragging over */
        }

        .custom-file-button {
            display: inline-block;
            color: black;
            background-color: #d1d1d1;
            padding: 2px 2px;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .custom-file-button span {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-size: 13px; 
        }
        

        .submit-link {
            font-family: neue-haas-grotesk-display, sans-serif;
            font-weight: 300;           
            color: black;
            text-decoration: none;
        }

        .submit-link:hover {
            color: #ec6644;
        }
        .link {
            text-decoration: none;
            /* font-size: 1.5vw; */

            /* @media only screen and (max-width: 600px) { */
                font-size: 18px;
            /* } */

            padding: 10px;
            color: black;
            transition: color 0.3s;
        }

        .link:hover {
            color: #ec6644;
        }

        .menu a:active, .menu a:focus, .menu .current-link {
            color: #ec6644;
        }

       .footer {
            background-color: #fff;
            color: #333;
            padding: 20px 0;
            display: flex;
            justify-content: center; /* Center the content horizontally */
            align-items: center; /* Center the content vertically */
            font-family: neue-haas-grotesk-display, sans-serif;
            font-style: normal;
            font-weight: 500;
            border-top: 1px solid #9b9999;
            padding-top: 10px;
        }
        
        .footer-section {
            margin: 0 20px; /* Add margin to separate sections */
        }
        
        hr {
            border: 0;
            height: 1px;
            background: #fff; /* Change the color and styling of the horizontal line */
            width: 50%; /* Adjust the width of the line as needed */
        }
        

